<div class="mask-list__header">
    <div class="mask-list__logo-wrap">
        <f:image src="EXT:mask/Resources/Public/Icons/Extension.svg" class="mask-list__logo"/> <span class="mask-list__label">Mask</span>
    </div>
    <div class="mask-list__docs">
        <a href="https://docs.typo3.org/p/mask/mask/main/en-us/" target="_blank">Documentation <i class="fa fa-book"></i></a>
    </div>
    <div class="mask-list__settings-wrap">
        <a href="{settingsUrl}">
            <div class="mask-list__settings-label">Settings</div>
            <core:icon identifier="actions-system-extension-configure" size="default"/>
        </a>
    </div>
</div>
