.idea/
.Build/
Build/node_modules/
composer.lock
var/
Build/testing-docker/.env
Build/phpunit/.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
Documentation-GENERATED-temp/
.env
.vscode
.cache/
