<f:form.hidden class="tx_mask_formfull" value="{layout.title}" property="elements][label" title="{f:translate(key:'tx_mask.page.title')}" />
<f:form.hidden class="tx_mask_formfull lowercase" value="{layout.identifier}" property="elements][key" title="{f:translate(key:'tx_mask.all.fieldkey')}" />
<f:form.hidden class="tx_mask_formfull" property="elements][shortLabel" value="dummy shortitle" title="{f:translate(key:'tx_mask.all.shorttitle')}" />
<f:form.hidden class="tx_mask_formfull" property="elements][description"  value="dummy description" title="{f:translate(key:'tx_mask.all.description')}" />
<f:form.hidden property="type" value="pages" />
<f:form.hidden property="orgkey" value="{layout.identifier}" />
