{namespace mask=MASK\Mask\ViewHelpers}
<label class="t3js-formengine-label">
	<f:translate key="tx_mask.field.richtext.rte_transform" />
</label>
<div class="t3js-formengine-field-item">
	<div class="form-control-wrap" style="">
		<input class="tx_mask_fieldcontent_rte_transform form-control" name="tx_mask_tools_maskmask[dummy][--index--][rte_transform]" type="text" placeholder="default is mode=ts_css" value="{f:if(condition: '{mask:rteTransform(fieldKey:\'{key}\', field: field, elementKey:\'{elementKey}\')} == \'mode=ts_css\'', else: '{mask:rteTransform(fieldKey:\'{key}\', field: field, elementKey:\'{elementKey}\')}')}" title="rte_transform" />
	</div>
</div>