{namespace core = TYPO3\CMS\Core\ViewHelpers}
<li data-type="{name}" class="id_{name} tx_mask_btn">
	<div class="tx_mask_btn_row">
		<div class="tx_mask_btn_img">
			<core:icon identifier="mask-fieldtype-{name}" size="default" />
		</div>
		<div class="tx_mask_btn_text">
			<span class="id_typetext"><f:translate key="tx_mask.field.{name}" /></span>
			<span class="id_labeltext"></span>
			<span class="id_keytext"></span>
		</div>

		<div class="tx_mask_btn_actions">
			<span class="id_add" title="{f:translate(key:'tx_mask.field.titleAdd')}"><core:icon identifier="actions-edit-add" size="default" /></span>
			<span class="id_delete" title="{f:translate(key:'tx_mask.field.titleDelete')}"><core:icon identifier="actions-edit-delete" size="small" /></span>
			<span class="id_move" title="{f:translate(key:'tx_mask.field.titleMove')}"><core:icon identifier="actions-move-move" size="small"/></span>
		</div>
	</div>
<f:if condition="{name} == 'Inline'">
	<div class="tx_mask_btn_caption">
		<ul class="dragtarget inline-container">
		</ul>
	</div>
</f:if>
</li>
