<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'String'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Integer'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Float'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Link'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Date'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Datetime'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Text'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Richtext'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Check'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Radio'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Select'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'File'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Inline'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Content'}" />
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'Tab'}" />