<f:render partial="Forms/General/Form" arguments="{form: 'string', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'integer', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'float', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'link', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'date', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'datetime', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'timestamp', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'text', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'richtext', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'check', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'radio', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'select', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'group', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'file', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'inline', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'content', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'tab', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'palette', storage: storage, type: type}"/>
<f:render partial="Forms/General/Form" arguments="{form: 'linebreak', storage: storage, type: type}"/>
