<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'string'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'integer'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'float'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'link'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'date'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'datetime'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'timestamp'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'text'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'richtext'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'check'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'radio'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'select'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'group'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'file'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'inline'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'content'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'tab'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'palette'}"/>
<f:render partial="Forms/General/FormTypeButton" arguments="{name: 'linebreak'}"/>
