<f:render partial="Forms/General/Form" arguments="{form: 'String', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Integer', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Float', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Link', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Date', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Datetime', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Text', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Richtext', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Check', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Radio', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Select', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'File', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Inline', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Content', storage: storage, type: type}" />
<f:render partial="Forms/General/Form" arguments="{form: 'Tab', storage: storage, type: type}" />