<f:if condition="{field.inPalette}">
    <f:then>
        <f:variable name="type" value="{mask:formType(elementKey: elementKey, fieldKey: field.key, type: layoutType)}"/>
    </f:then>
    <f:else>
        <f:variable name="type" value="{mask:formType(elementKey: elementKey, fieldKey: field.key, type: field.inlineParent)}"/>
    </f:else>
</f:if>
<li data-type="{type}" class="id_{type} tx_mask_btn" data-fieldtype="{f:if(condition: field.coreField, then: 'existing', else: 'mask')}">
    <div class="tx_mask_btn_row">
        <div class="tx_mask_btn_img">
            <core:icon identifier="mask-fieldtype-{type}" size="default"/>
        </div>
        <div class="tx_mask_btn_text">
            <span class="id_typetext"><f:translate key="tx_mask.field.{type}"/></span>
            <span class="id_labeltext" title="{field.label}">
                <f:if condition="{type} == linebreak">
                    <f:then>
                        Linebreak
                    </f:then>
                    <f:else>
                        <f:format.crop maxCharacters="20" append="..."><mask:translateLabel key="{field.label}" element="{elementKey}"/></f:format.crop>
                    </f:else>
                </f:if>
            </span>
            <span class="id_keytext{f:if(condition: '{type} == linebreak', then: ' hidden')}" title="{field.key}">
                <f:format.crop maxCharacters="20" append="...">{field.key}</f:format.crop>
            </span>
        </div>
        <div class="tx_mask_btn_actions">
            <span class="id_add" title="{f:translate(key:'tx_mask.field.titleAdd')}"><core:icon identifier="actions-add" size="default"/></span>
            <span class="id_delete" title="{f:translate(key:'tx_mask.field.titleDelete')}"><core:icon identifier="actions-edit-delete" size="small"/></span>
            <span class="id_move" title="{f:translate(key:'tx_mask.field.titleMove')}"><core:icon identifier="actions-move-move" size="small"/></span>
        </div>
    </div>
    <f:if condition="{type} == 'inline'">
        <div class="tx_mask_btn_caption">
            <ul class="dragtarget inline-container">
                <f:for each="{field.inlineFields}" as="inlineField" key="inlineKey">
                    <f:render partial="Forms/General/Inline" arguments="{elementKey: field.key, field: inlineField, storage: storage, inlineParent: '1', layoutType: inlineField.inlineParent}"/>
                </f:for>
            </ul>
        </div>
    </f:if>
    <f:if condition="{type} == palette">
        <div class="tx_mask_btn_caption">
            <ul class="dragtarget inline-container palette-container{f:if(condition: inlineParent, then: ' palette-inline')}">
                <f:for each="{field.inlineFields}" as="paletteField">
                    <f:render partial="Forms/General/Inline" arguments="{elementKey: field.key, field: paletteField, storage: storage, inlineParent: inlineParent, layoutType: layoutType}"/>
                </f:for>
            </ul>
        </div>
    </f:if>
</li>
