<f:comment><!--TYPO3-Standard-Field--></f:comment>
<div class="tx_mask_field">
    <f:variable name="type" value="{mask:formType(elementKey: storage.key, fieldKey: key, type: layoutType)}"/>
    <f:comment><!-- field header 3rd column: existing/TYPO3 fields (eg. bodytext) --></f:comment>
    <div class="tx_mask_fieldheader">
        <div class="tx_mask_fieldheader_icon id_{type}">
            <core:icon identifier="mask-fieldtype-{type}" size="default"/>
        </div>
        <f:if condition="!{label}">
            <f:variable name="label" value="{mask:label(elementKey: storage.key, fieldKey: key, table: layoutType)}"/>
        </f:if>
        <div class="tx_mask_fieldheader_text" title="{label}">
            <h1>
                <f:format.crop maxCharacters="60" append="..."><mask:translateLabel key="{label}" element="{storage.key}"/></f:format.crop>&nbsp;
            </h1>
            <p>{key}</p>
        </div>
    </div>

    <div class="row tx_mask_fieldcontent">
        <div class="form-group col-sm-12">
            <label class="t3js-formengine-label" for="all_overwrite">
                <f:translate key="tx_mask.field.overwritelabel"/>
            </label>
            <div class="t3js-formengine-field-item">
                <div class="form-control-wrap" style="">
                    <f:if condition="{type} == 'richtext'">
                        <input type="hidden" name="tx_mask_tools_maskmask[storage][elements][options][--index--]" value="rte"/>
                    </f:if>
                    <f:form.hidden value="{key}" name="storage[elements][columns][--index--]"/>
                    <f:form.textfield id="all_overwrite"
                                      class="form-control"
                                      value="{label}"
                                      name="storage[elements][labels][--index--]"
                                      placeholder="{f:translate(key: 'tx_mask.all.label')}"
                                      title="{f:translate(key: 'tx_mask.all.label')}"/>
                </div>
            </div>
        </div>
    </div>
</div>
