/**
    This css file is included in the whole typo3 backend.
    It can be used to style the mask content elements in the backend.
*/

.icon-unify {
    font-family: 'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 0;
    text-transform: uppercase;
}

.icon-size-large .icon-unify {
    line-height: 47px;
    font-size: 35px;
}

.icon-size-default .icon-unify {
    line-height: 32px;
    font-size: 28px;
}

.content_preview {
    display: block;
    padding: 10px 0 4px 0;
    border-top: 1px solid #CACACA;
    margin-top: 6px;
}
