{namespace mask=MASK\Mask\ViewHelpers}

<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][exclude]" value="1" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][sql][{type}][--index--]" value="int(11) unsigned DEFAULT '0' NOT NULL" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][sql][sys_file_reference][--index--]" value="int(11) unsigned DEFAULT '0' NOT NULL" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][options]" value="file" />

<div class="row">
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="minitems">
			<f:translate key="tx_mask.field.inline.minitems" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<input id="minitems" name="tx_mask_tools_maskmask[storage][tca][--index--][config][minitems]" type="number" class="form-control" min="0" value="{field.config.minitems}" />
			</div>
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="maxitems">
			<f:translate key="tx_mask.field.inline.maxitems" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<input id="maxitems" name="tx_mask_tools_maskmask[storage][tca][--index--][config][maxitems]" type="number" class="form-control" min="1" value="{field.config.maxitems}" />
			</div>
		</div>
	</div>
</div>

<!--label>Allow new<br />
	<input name="tx_mask_tools_maskmask[storage][tca][--index--][config][appearance][enabledControls][new]" type="checkbox" value="1" title="Allow new" /-->