{namespace mask=MASK\Mask\ViewHelpers}
<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][config][type]" value="text" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][elements][options][--index--]" value="rte" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][exclude]" value="1" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][sql][{type}][--index--]" value="text" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][config][eval]" value="" class="tx_mask_fieldcontent_evalresult" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][defaultExtras]" value="richtext[]:rte_transform[mode=ts]" />

<div class="row">
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="rich_cols">
			<f:translate key="tx_mask.field.richtext.cols" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<input id="rich_cols" name="tx_mask_tools_maskmask[storage][tca][--index--][config][cols]" type="number" class="form-control" title="cols" placeholder="cols" min="1" max="48" value="{field.config.cols}"/>
			</div>
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="rich_rows">
			<f:translate key="tx_mask.field.richtext.rows" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<input id="rich_rows" name="tx_mask_tools_maskmask[storage][tca][--index--][config][rows]" type="number" class="form-control" title="rows" placeholder="rows" min="0" max="20" value="{field.config.rows}" />
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="rich_default">
			<f:translate key="tx_mask.field.richtext.default" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<input id="rich_default" name="tx_mask_tools_maskmask[storage][tca][--index--][config][default]" type="text" class="form-control" title="default" placeholder="default" value="{field.config.default}"/>
			</div>
		</div>
	</div>
	<div class="form-group col-sm-3">
		<f:render partial="TCA/Required" arguments="{key:key, elementKey:storage.key, field:field}" />
	</div>
	<div class="form-group col-sm-3">
		<f:render partial="TCA/Trim" arguments="{key:key, elementKey:storage.key, field:field}" />
	</div>
</div>
