{namespace mask=MASK\Mask\ViewHelpers}
<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][config][type]" value="input" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][exclude]" value="1" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][sql][{type}][--index--]" value="tinytext" />
<input type="hidden" name="tx_mask_tools_maskmask[storage][tca][--index--][config][eval]" value="" class="tx_mask_fieldcontent_evalresult" />

<div class="row">
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="string_size">
			<f:translate key="tx_mask.field.string.size" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<input id="string_size" name="tx_mask_tools_maskmask[storage][tca][--index--][config][size]" type="number" class="form-control" title="cols" placeholder="cols" min="1" max="48" value="{field.config.size}" />
			</div>
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="string_max">
			<f:translate key="tx_mask.field.string.max" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<input id="string_max" name="tx_mask_tools_maskmask[storage][tca][--index--][config][max]" type="number" class="form-control" title="rows" placeholder="rows" min="0" max="512" value="{field.config.max}" />
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="string_default">
			<f:translate key="tx_mask.field.string.default" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<input id="string_default" name="tx_mask_tools_maskmask[storage][tca][--index--][config][default]" type="text" class="form-control" title="default" placeholder="default" value="{field.config.default}" />
			</div>
		</div>
	</div>
	<div class="form-group col-sm-6">
		<label class="t3js-formengine-label" for="string_texttype">
			<f:translate key="tx_mask.field.texttype" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="">
				<select id="string_texttype" name="tx_mask_tools_maskmask[dummy][--index--][texttype]" title="{f:translate(key:'tx_mask.field.texttype')}" class="form-control tx_mask_fieldcontent_eval">
		<option value=""><f:translate key="tx_mask.field.texttype.default" /></option>
		<option {f:if(condition: '{mask:eval(fieldKey:\'{key}\', elementKey:\'{elementKey}\', field:\'{field}\', evalValue:\'lower\')}', then: 'selected="selected"', else: '')} value="lower"><f:translate key="tx_mask.field.texttype.lower" /></option>
		<option {f:if(condition: '{mask:eval(fieldKey:\'{key}\', elementKey:\'{elementKey}\', field:\'{field}\', evalValue:\'upper\')}', then: 'selected="selected"', else: '')} value="upper"><f:translate key="tx_mask.field.texttype.upper" /></option>
		<option {f:if(condition: '{mask:eval(fieldKey:\'{key}\', elementKey:\'{elementKey}\', field:\'{field}\', evalValue:\'alpha\')}', then: 'selected="selected"', else: '')} value="alpha"><f:translate key="tx_mask.field.texttype.alpha" /></option>
		<option {f:if(condition: '{mask:eval(fieldKey:\'{key}\', elementKey:\'{elementKey}\', field:\'{field}\', evalValue:\'alphanum\')}', then: 'selected="selected"', else: '')} value="alphanum"><f:translate key="tx_mask.field.texttype.alphanum" /></option>
		<option {f:if(condition: '{mask:eval(fieldKey:\'{key}\', elementKey:\'{elementKey}\', field:\'{field}\', evalValue:\'alphanum_x\')}', then: 'selected="selected"', else: '')} value="alphanum_x"><f:translate key="tx_mask.field.texttype.alphanum_x" /></option>
	</select>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-6">
		<f:render partial="TCA/Required" arguments="{key:key, elementKey:storage.key, field: field}" />
	</div>
	<div class="form-group col-sm-6">
		<f:render partial="TCA/Trim" arguments="{key:key, elementKey:storage.key, field: field}" />
	</div>
</div>
