<label class="t3js-formengine-label" for="meta_key">
    <f:translate key="tx_mask.all.fieldkey"/>*
</label>
<div class="t3js-formengine-field-item">
    <div class="form-control-wrap">
        <f:form.textfield class="form-control lowercase"
                          id="meta_key"
                          value="{storage.key}"
                          required="required"
                          name="storage[elements][key]"
                          placeholder="{f:translate(key:'tx_mask.all.fieldkey')}"
                          title="{f:translate(key:'tx_mask.all.fieldkey')}"
                          readonly="{f:if(condition: '{editMode}', then: 'readonly', else: '')}"/>
    </div>
</div>
<label class="t3js-formengine-label" for="meta_label">
    <f:translate key="tx_mask.content.title"/>*
</label>
<div class="t3js-formengine-field-item">
    <div class="form-control-wrap">
        <f:form.textfield class="form-control"
                          id="meta_label"
                          required="required"
                          value="{storage.label}"
                          name="storage[elements][label]"
                          placeholder="{f:translate(key:'tx_mask.content.title')}"
                          title="{f:translate(key:'tx_mask.content.title')}"/>
    </div>
</div>
<label class="t3js-formengine-label" for="meta_shortlabel">
    <f:translate key="tx_mask.all.shorttitle"/>
</label>
<div class="t3js-formengine-field-item">
    <div class="form-control-wrap">
        <f:form.textfield class="form-control"
                          id="meta_shortlabel"
                          name="storage[elements][shortLabel]"
                          value="{storage.shortLabel}"
                          placeholder="{f:translate(key:'tx_mask.all.shorttitle')}"
                          title="{f:translate(key:'tx_mask.all.shorttitle')}"/>
    </div>
</div>
<label class="t3js-formengine-label" for="meta_description">
    <f:translate key="tx_mask.all.description"/>
</label>
<div class="t3js-formengine-field-item">
    <div class="form-control-wrap">
        <f:form.textarea class="form-control"
                          id="meta_description"
                          name="storage[elements][description]"
                          value="{storage.description}"
                          placeholder="{f:translate(key:'tx_mask.all.description')}"
                          title="{f:translate(key:'tx_mask.all.description')}"/>
        <f:form.hidden property="type" value="tt_content"/>
        <f:form.hidden property="orgkey" value="{storage.key}"/>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label class="t3js-formengine-label" for="meta_icon">
            <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank">
                <f:translate key="tx_mask.all.icon"/>
            </a>
        </label>
        <div class="t3js-formengine-field-item icon-field">
            <div class="form-control-wrap">
                <f:form.select class="form-control"
                               id="meta_icon"
                               name="storage[elements][icon]"
                               value="{storage.icon}"
                               options="{icons}" title="{f:translate(key:'tx_mask.all.icon')}"
                               prependOptionLabel=""
                               prependOptionValue=""/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <label class="t3js-formengine-label" for="meta_color">
            <f:translate key="tx_mask.all.color"/>
        </label>
        <div class="t3js-formengine-field-item">
            <div class="form-control-wrap" style="max-width: 50px">
                <f:form.textfield class="form-control"
                                  id="meta_color"
                                  name="storage[elements][color]"
                                  type="color"
                                  value="{storage.color}"
                                  placeholder="{f:translate(key:'tx_mask.all.color')}"
                                  title="{f:translate(key:'tx_mask.all.color')}"/>
            </div>
        </div>
    </div>
</div>
