<div class="row">
	<div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-sm-6 has-change">
		<label class="t3js-formengine-label">
			<f:translate key="tx_mask.content.title" />*
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="max-width: 350px">
				<div class="input-group">
					<div class="form-control-clearable">
						<f:form.textfield class="tx_mask_formfull" required="required" value="{storage.label}" property="elements][label" placeholder="{f:translate(key:'tx_mask.content.title')}" title="{f:translate(key:'tx_mask.content.title')}" class="form-control t3js-clearable hasDefaultValue" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-sm-3 has-change">
		<label class="t3js-formengine-label">
			<f:translate key="tx_mask.all.fieldkey" />*
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="max-width: 204px">
				<div class="input-group">
					<div class="form-control-clearable">
						<f:form.textfield class="tx_mask_formfull lowercase" value="{storage.key}" required="required" property="elements][key" placeholder="{f:translate(key:'tx_mask.all.fieldkey')}" title="{f:translate(key:'tx_mask.all.fieldkey')}" readonly="{f:if(condition: '{editMode}', then: 'readonly', else: '')}" class="form-control t3js-clearable hasDefaultValue" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-sm-3 has-change">
		<label class="t3js-formengine-label">
			<f:translate key="tx_mask.all.shorttitle" />
		</label>
		<div class="t3js-formengine-field-item">
			<div class="form-control-wrap" style="max-width: 204px">
				<div class="input-group">
					<div class="form-control-clearable">
						<f:form.textfield class="tx_mask_formfull" property="elements][shortLabel" value="{storage.shortLabel}" placeholder="{f:translate(key:'tx_mask.all.shorttitle')}" title="{f:translate(key:'tx_mask.all.shorttitle')}" class="form-control t3js-clearable hasDefaultValue" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="float:left; width: 75%; border-bottom: 1px solid #adadad; margin-bottom: 20px;">
	<div style="padding: 0 15px 5px 0;">
		<label for="description">
			<f:translate key="tx_mask.all.description" />
		</label><br />
		<f:form.textfield class="tx_mask_formfull" property="elements][description"  value="{storage.description}" placeholder="{f:translate(key:'tx_mask.all.description')}" title="{f:translate(key:'tx_mask.all.description')}" />
		<f:form.hidden property="type" value="tt_content" />
		<f:form.hidden property="orgkey" value="{storage.key}" />
	</div>
</div>
<div style="float:left; width: 25%; border-bottom: 1px solid #adadad; margin-bottom: 20px;">
	<div style="padding: 0 15px 5px 0;">
		<label for="fa-key">
			<f:translate key="tx_mask.all.icon" />
		</label><br />
		<f:form.textfield class="tx_mask_formfull" property="elements][icon"  value="{storage.icon}" placeholder="{f:translate(key:'tx_mask.all.icon')}" title="{f:translate(key:'tx_mask.all.icon')}" />
	</div>
</div>





