{namespace mask=MASK\Mask\ViewHelpers}
<f:if condition="{editMode}">
	<f:if condition="{mask:Multiuse(key: key, elementKey: storage.key) -> f:count()} > 1">

		<f:be.infobox title="{f:translate(key:'tx_mask.content.multiuse')}" state="-1">
			<f:translate key="tx_mask.content.multiuse.description"/>
			<f:for each="{mask:Multiuse(key: key, elementKey: storage.key)}" as="element" iteration="iteration">
				{element.label}
				<f:if condition="{iteration.isLast}">
					<f:then></f:then>
					<f:else>,</f:else>
				</f:if>
			</f:for>
		</f:be.infobox>
	</f:if>
</f:if>
