<f:switch expression="{type}">
	<f:case value="String">
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="Float">
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="Integer">
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="Link">
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Wizards" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="Date">
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
	</f:case>
	<f:case value="Datetime">
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
	</f:case>
	<f:case value="Text">
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Wizards" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="Richtext">
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Wizards" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="Check">
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="Radio">
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="Select">
		<f:render partial="Forms/Tabs/Database" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Files" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Extended" arguments="{key: key}" />
	</f:case>
	<f:case value="File">
		<f:render partial="Forms/Tabs/Appearance" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Localization" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
	</f:case>
	<f:case value="Inline">
		<f:render partial="Forms/Tabs/Appearance" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Localization" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
	</f:case>
	<f:case value="Content">
		<f:render partial="Forms/Tabs/Appearance" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Localization" arguments="{key: key}" />
		<f:render partial="Forms/Tabs/Validation" arguments="{key: key}" />
	</f:case>
	<f:case value="Tab">
	</f:case>
</f:switch>