<f:switch expression="{type}">
    <f:case value="string">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="float">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="integer">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="link">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/FieldControl" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="date">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
    </f:case>
    <f:case value="datetime">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
    </f:case>
    <f:case value="timestamp">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
    </f:case>
    <f:case value="text">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Wizards" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="richtext">
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="check">
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="radio">
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="select">
        <f:render partial="Forms/Tabs/Database" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Files" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="group">
        <f:render partial="Forms/Tabs/FieldControl" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Extended" arguments="{key: key}"/>
    </f:case>
    <f:case value="file">
        <f:render partial="Forms/Tabs/Appearance" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
    </f:case>
    <f:case value="inline">
        <f:render partial="Forms/Tabs/Appearance" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
    </f:case>
    <f:case value="content">
        <f:render partial="Forms/Tabs/Appearance" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Localization" arguments="{key: key}"/>
        <f:render partial="Forms/Tabs/Validation" arguments="{key: key}"/>
    </f:case>
</f:switch>
