{namespace mask=MASK\Mask\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default"/>
<f:section name="content">
	<f:render partial="General/Tabs" arguments="{active: 'WizardContent'}"/>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="DTM-mask-1">
			<div class="form-section">
				<f:flashMessages/>

				<f:if condition="{missingFolders}">
					<f:form action="createMissingFolders" controller="WizardContent">
						<f:form.submit value="{f:translate(key:'tx_mask.all.createmissingfolders')}" class="btn btn-primary"/>
					</f:form>
				</f:if>

				<div class="panel panel-space panel-default">
					<div class="panel-heading">
						<f:translate key="tx_mask.all.contentelements"/>
					</div>


					<div class="table-fit collapse in" id="recordlist-be_users" data-state="expanded">
						<table cellspacing="0" cellpadding="0" border="0" class="table table-striped table-hover">
							<thead>
							<tr>
								<th class="text-nowrap col-icon">
									<f:link.action action="new" class="btn btn-default">
										<core:icon identifier="actions-document-new"/>
									</f:link.action>
								</th>
								<th class="text-nowrap">
									<f:translate key="tx_mask.content.image"/>
								</th>
								<th class="text-nowrap">
									<f:translate key="tx_mask.content.titlekey"/>
								</th>
								<th class="text-nowrap col-title">
									<f:translate key="tx_mask.content.description"/>
								</th>
								<th class="text-nowrap">
									<f:translate key="tx_mask.content.count"/>
								</th>
								<th class="text-nowrap col-control">&nbsp;
								</td>
							</tr>
							</thead>
							<tbody>
							<f:for each="{storages.tt_content.elements}" as="storage" key="key">
								<tr class="{f:if(condition:'{storage.hidden}' then:'element-hidden')}">
									<td></td>
									<td>
										<f:link.action action="edit" arguments="{type:'tt_content',key:key}">
											<core:icon identifier="mask-ce-{key}" size="large"/>
										</f:link.action>
									</td>
									<td class="text-nowrap">
										<p><strong>
											<f:link.action action="edit" arguments="{type:'tt_content',key:key}">
												<f:translate key="{storage.label}">{storage.label}</f:translate>
											</f:link.action>
										</strong><br/>{key}
										</p>
									</td>

									<td>
										<p>{storage.description}</p>
										<mask:link data="{key}"/>
										<f:if condition="{mask:link(data:key)}">
											<f:link.action action="createHtml" arguments="{key:key}" class="btn btn-default">
												<i class="fa fa-plus-circle"></i>
												<f:translate key="tx_mask.all.createmissingtemplate"/>
											</f:link.action>
										</f:if>
									</td>
									<td class="text-center text-muted">
										<mask:elementCount key="{key}"/>
									</td>
									<td class="text-nowrap">
										<div class="btn-group" role="group">
											<f:link.action action="showHtml" arguments="{key: key, table: 'tt_content'}" onclick="window.open(this.href, 'HTML', 'width=800,height=600,resizable=yes,scrollbars=yes');
												return false;" class="btn btn-default">
												<core:icon identifier="sysnote-type-2"/>
											</f:link.action>
											<f:link.action action="edit" arguments="{type:'tt_content',key:key}" class="btn btn-default">
												<core:icon identifier="actions-open"/>
											</f:link.action>
											<f:if condition="{storage.hidden}">
												<f:then>
													<f:link.action action="activate" arguments="{key:key}" class="btn btn-default">
														<core:icon identifier="actions-edit-unhide"/>
													</f:link.action>
												</f:then>
												<f:else>
													<f:link.action action="hide" arguments="{key:key}" class="btn btn-default">
														<core:icon identifier="actions-edit-hide"/>
													</f:link.action>
												</f:else>
											</f:if>
											<!-- @formatter:off -->
											<f:link.action action="delete" arguments="{type:'tt_content',key:key}" class="deleteCe btn btn-default" additionalAttributes="{data-purge-url:'{f:uri.action(action:\'purge\', arguments: {type:\'tt_content\',key:key})}', data-title: '{f:translate(key:\"tx_mask.field.titleDelete\")}', data-content: '{f:translate(key:\"tx_mask.all.confirmdelete\")}', data-button-close-text:'{f:translate(key:\"tx_mask.all.abort\")}', data-button-ok-text:'{f:translate(key:\"tx_mask.all.delete\")}', data-button-purge-text:'{f:translate(key:\"tx_mask.all.purge\")}'}"><core:icon identifier="actions-edit-delete" /></f:link.action>
											<!-- @formatter:on -->
										</div>
									</td>
								</tr>
							</f:for>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 pull-right mask_footer_spacer_3 mask_footer_spacer_top">
			<a class="mask_footer_link" href="https://webprofil.at/" target="_blank"><span
				class="mask_footer_red">web</span><span class="mask_footer_blue">profil</span></a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<a href="https://mask.webprofil.at/mask/sponsoring/" class="mask_footer_no_hover" target="_blank">
				<div class="form-section col-lg-5 mask_footer_spacer_2 mask_footer_spacer_top">
					<div class="mask_footer_container">
						<div class="mask_footer_img_container">
							<img class="mask_footer_img_0"
									 src="/typo3conf/ext/mask/Resources/Public/Images/Logo_WEBprofil_T3camp_druck.png" alt="webprofil">
						</div>
						<div class="mask_footer_mask">
							<h3 class="mask_footer_heading">You like Mask?</h3>
							<p class="mask_footer_text">You think, you might use it for further projects?<br>Help us to speed up and
								improve development!</p>
							<button class="mask_footer_btn">Become a sponsor of mask</button>
						</div>
					</div>
				</div>
			</a>
			<a href="https://tvconverter.webprofil.at/" class="mask_footer_no_hover" target="_blank">
				<div class="form-section col-lg-5 mask_footer_spacer_2 mask_footer_spacer_top">
					<div class="mask_footer_container">
						<div class="mask_footer_img_container">
							<img class="mask_footer_img_1" src="/typo3conf/ext/mask/Resources/Public/Images/Logo_TVconverter.png"
									 alt="TV-Converter"><br>
							<span class="mask_footer_tvc_text">by</span>
							<img class="mask_footer_img_2" alt="WEBprofil"
									 src="/typo3conf/ext/mask/Resources/Public/Images/Logo_WEBprofil_T3camp_druck_Kopie_2.png">
						</div>
						<div class="mask_footer_tvc">
							<h3 class="mask_footer_heading">TemplaVoila to Mask?</h3>
							<p class="mask_footer_text">Convert the entire content of your old project to Mask.<br>Support Mask with
								our Service!</p>
							<button class="mask_footer_btn">Read more</button>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>

</f:section>
