{namespace mask=MASK\Mask\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />
<f:section name="content">
	<ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-DTM-mask" data-store-last-tab="1">
		<li role="presentation" class="t3js-tabmenu-item active">
		<f:link.action action="list" controller="WizardContent" additionalParams="{aria-controls:'DTM-mask-1', role:'tab', data-toggle:'tab'}"><f:translate key="tx_mask.all.contentelements" /></f:link.action>
		</li>
		<li role="presentation" class="t3js-tabmenu-item">
		<f:link.action action="list" controller="WizardPage" additionalParams="{aria-controls:'DTM-mask-2', role:'tab', data-toggle:'tab'}"><f:translate key="tx_mask.all.pagetemplates" /></f:link.action>
		</li>
		<li role="presentation" class="t3js-tabmenu-item">
		<mask:configureExtension><mask:icon identifier="actions-system-extension-configure" altText="{f:translate(key: 'tx_mask.all.configure')}" /></mask:configureExtension>
		</li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="DTM-mask-1">
			<div class="form-section">
				<f:flashMessages />
				<h1 style="margin-bottom: 10px;"><f:translate key="tx_mask.content.newheader" /></h1>
				<f:render partial="FormErrors" />
				<f:form action="create" name="storage" object="{storage}">
					<f:render partial="WizardContent/Metadata" arguments="{storage:storage}" />
					<div class="row bench">
						<div class="form-group col-sm-3 tx_mask_borderright tx_mask_tabcell1">
							<ul class="tx_mask_fieldtypes" id="dragstart">
								<f:render partial="FormTypeButton" arguments="{name: 'String'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Integer'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Float'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Link'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Date'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Datetime'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Text'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Richtext'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Check'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Radio'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Select'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'File'}" />
								<f:render partial="FormTypeButton" arguments="{name: 'Inline'}" />
							</ul>
							<div>
								<f:form.submit name="formAction[save]" value="{f:translate(key:'tx_mask.content.save')}" class="btn btn-success col-sm-12"/>
								<f:form.submit name="formAction[saveAndExit]" value="{f:translate(key:'tx_mask.content.saveandexit')}" class="btn btn-default col-sm-12" />
							</div>
						</div>

						<div class="form-group col-sm-3 tx_mask_borderright tx_mask_tabcell2">
							<ul class="tx_mask_fieldtypes dragtarget"></ul>
						</div>

						<div class="form-group col-sm-6 tx_mask_tabcell3"></div>
					</div>
				</f:form>

				<div style="display:none;" id="templates">
					<f:render partial="Forms/Form" arguments="{form: 'String', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Integer', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Float', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Link', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Date', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Datetime', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Text', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Richtext', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Check', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Radio', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Select', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'File', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Inline', storage: storage, type: 'tt_content'}" />
					<f:render partial="Forms/Form" arguments="{form: 'Content', storage: storage, type: 'tt_content'}" />
				</div>
			</div>
		</div>
	</div>
</f:section>