<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fluid Example</title>
	</head>
	<body>

		<h1><f:translate key="tx_mask.content.html.header" /></h1>
		<p><f:translate key="tx_mask.content.html.line1" /><br />
	<f:translate key="tx_mask.content.html.line2" /><br />
	<f:translate key="tx_mask.content.html.line3a" /> <a href="http://docs.typo3.org/typo3cms/ExtbaseGuide/Fluid/ViewHelper/" target="_blank"><f:translate key="tx_mask.content.html.line3b" /></a> <f:translate key="tx_mask.content.html.line3c" />
</p>
<pre style="border: 1px solid #666; padding: 10px; background-color: #eee; white-space: pre-line;">
{html}
</pre>

</body>
</html>
