<f:flashMessages/>
<f:render partial="Forms/General/FormErrors"/>
<f:form action="update" name="storage" object="{storage}">
    <div class="row bench">
        <div class="form-group col-lg-2 tx_mask_borderright tx_mask_tabcell1">
            {header -> f:format.raw()}
            <f:if condition="{layoutType} == tt_content">
                <f:then>
                    <f:render partial="WizardContent/Metadata" arguments="{storage: storage, editMode: 1, icons: icons}"/>
                </f:then>
                <f:else>
                    <f:render partial="WizardPage/Metadata" arguments="{storage: storage, type: 'Page', layout: backendLayout}"/>
                </f:else>
            </f:if>
            <div>
                <f:render partial="General/Controls"/>
            </div>
        </div>
        <div class="col-lg-4 tx_mask_tabcell4">
            <label class="t3js-formengine-label"><f:translate key="{fieldsHeader}"/></label>
            <div class="col-sm-12 tx_mask_tabcell5">
                <ul class="tx_mask_fieldtypes tx_mask_field_templates" id="dragstart">
                    <f:render partial="Forms/General/FormTypeButtons"/>
                </ul>
            </div>
            <label class="t3js-formengine-label">
                <f:translate key="{fieldsHeader}"/>
            </label>
            <div class="form-group col-sm-12 tx_mask_borderright tx_mask_tabcell2">
                <ul class="tx_mask_fieldtypes dragtarget">
                    <f:for each="{storage.tca}" as="field" key="key">
                        <f:variable name="type" value="{mask:formType(elementKey: storage.key, fieldKey: key, type: layoutType)}"/>
                        <li data-type="{type}"
                            class="id_{type} tx_mask_btn"
                            data-fieldtype="{f:if(condition: '{mask:substr(string: key, search: \'tx_mask\', from: 0, length: 7)}', then: 'mask', else: 'existing')}"
                        >
                            <div class="tx_mask_btn_row">
                                <div class="tx_mask_btn_img">
                                    <core:icon identifier="mask-fieldtype-{type}" size="default"/>
                                </div>
                                <div class="tx_mask_btn_text">
                                    <span class="id_typetext"><f:translate key="tx_mask.field.{type}"/></span>
                                    <f:variable name="label" value="{mask:label(elementKey: storage.key, fieldKey: key, field: field, table: layoutType)}"/>
                                    <span class="id_labeltext" title="{label}">
                                        <f:format.crop maxCharacters="20" append="..."><mask:translateLabel key="{label}" element="{storage.key}"/></f:format.crop>
                                    </span>
                                    <f:variable name="keyText" value="{f:if(condition: field.key, then: field.key, else: key)}"/>
                                    <span class="id_keytext" title="{keyText}">
                                        <f:format.crop maxCharacters="60" append="...">{keyText}</f:format.crop>
                                    </span>
                                </div>
                                <div class="tx_mask_btn_actions">
                                    <span class="id_add" title="{f:translate(key:'tx_mask.field.titleAdd')}"><core:icon identifier="actions-add" size="default"/></span>
                                    <span class="id_delete" title="{f:translate(key:'tx_mask.field.titleDelete')}"><core:icon identifier="actions-edit-delete" size="small"/></span>
                                    <span class="id_move" title="{f:translate(key:'tx_mask.field.titleMove')}"><core:icon identifier="actions-move-move" size="small"/></span>
                                </div>
                            </div>
                            <f:if condition="{type} == inline">
                                <div class="tx_mask_btn_caption">
                                    <ul class="dragtarget inline-container">
                                        <f:for each="{field.inlineFields}" as="inlineField">
                                            <f:render partial="Forms/General/Inline" arguments="{elementKey: storage.key, field: inlineField, storage: storage, inlineParent: '1', layoutType: inlineField.inlineParent}"/>
                                        </f:for>
                                    </ul>
                                </div>
                            </f:if>
                            <f:if condition="{type} == palette">
                                <div class="tx_mask_btn_caption">
                                    <ul class="dragtarget inline-container palette-container">
                                        <f:for each="{field.inlineFields}" as="paletteField">
                                            <f:render partial="Forms/General/Inline" arguments="{elementKey: storage.key, field: paletteField, storage: storage, inlineParent: '0', layoutType: layoutType}"/>
                                        </f:for>
                                    </ul>
                                </div>
                            </f:if>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>
        <div class="form-group col-lg-6 tx_mask_tabcell3">
            <f:comment><!--Edit-Mode-Features --></f:comment>
            <f:for each="{storage.tca}" as="field" key="key">
                <f:if condition="{mask:substr(string: key, search: 'tx_mask', from: 0, length: 7)}">
                    <f:then>
                        <f:comment><!--Mask-Field--></f:comment>
                        <f:render partial="Forms/General/RenderFieldContent" arguments="{storage: storage, field: field, key: key, editMode: 1, layoutType: layoutType, currentTable: layoutType}"/>
                    </f:then>
                    <f:else>
                        <f:render partial="Forms/General/RenderFieldContentCore" arguments="{storage: storage, key: key, field: field, layoutType: layoutType}"/>
                    </f:else>
                </f:if>
            </f:for>
        </div>
    </div>
</f:form>
<div style="display:none;" id="templates">
    <f:render partial="Forms/General/Forms" arguments="{storage: storage, type: layoutType}"/>
</div>
