@charset "utf-8";

/*
Mask
*/

@media (min-width: 768px) {
	.tx_mask_borderright {
		border-right: 1px solid #a2aab8;
	}
}

/* Filedtype Buttons */
.tx_mask_btn, .tx_mask_fieldtypes {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tx_mask_btn {
	display: table;
	width: 100%;
	margin-bottom: 4px;
	background-color: #efefef;
	cursor: move;
	height: 37px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
}
.tx_mask_btn_row {
	display: table-row;
}
.tx_mask_btn_caption {
	display: table-caption;
	caption-side: bottom;
}
.id_Inline .tx_mask_btn_caption {
	padding-left: 5px;
	border-left: 2px solid #ddd;
	background-color: #ededed;
}
.tx_mask_btn_row>DIV {
	display: table-cell;
}
.tx_mask_btn_row IMG {
	vertical-align: bottom;
}
.tx_mask_btn_row .tx_mask_btn_img {
	width: 37px;
}
.tx_mask_btn_row .tx_mask_btn_img IMG, .tx_mask_fieldheader IMG {
	border-radius: 2px;
}
.tx_mask_btn_row .tx_mask_btn_text {
	vertical-align: middle;
	padding-left:	13px;
}
.tx_mask_btn_row .tx_mask_btn_actions {
	width: 69px;
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
}

.tx_mask_tabcell2 .tx_mask_btn {
	cursor: hand;
	cursor: pointer;
}
.tx_mask_btn .dragtarget {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}
.tx_mask_tabcell1 .dragtarget {
	display: none;
}
.tx_mask_tabcell2>.dragtarget {
	display: block;
	padding-bottom: 50px;
}
.tx_mask_tabcell2 UL .dragtarget {
	min-height: 38px;
}

.tx_mask_tabcell2 UL .dragtarget li.tx_mask_btn {
	margin-top: 3px;
	margin-bottom: 0px;
}

.tx_mask_tabcell2 UL.tx_mask_fieldtypes LI .id_typetext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_labeltext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_keytext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_delete,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_move,
.tx_mask_tabcell2 UL.tx_mask_fieldtypes LI .id_add {
	display: none;
}

/* Field header */
.tx_mask_fieldheader {
	padding-bottom: 6px;
	margin-bottom: 14px;
	height: 50px;
}
.tx_mask_fieldheader_icon {
	min-height: 32px;
	width: 32px;
	margin-right: 7px;
	float: left;
	margin-right: 16px;
}
.tx_mask_fieldheader_text {
	min-height: 32px;
}
.tx_mask_fieldheader_text H1 {
	font-size: 165%;
	font-family: Share,Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.tx_mask_fieldheader_text P {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* Texts */
UL.tx_mask_fieldtypes LI .id_typetext {
	font-size: 120%;
	line-height: 220%;
}
UL.tx_mask_fieldtypes LI .id_labeltext {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #525252;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
UL.tx_mask_fieldtypes LI .id_keytext {
	font-size: 10px;
	display: block;
	color: #525252;
}
.tx_mask_fieldcontent_existing {
	display: none;
}
.tx_mask_field {
	display: none;
}

.tx_mask_tabcell1 > DIV {
	margin-top: 12px;
}
.tx_mask_tabcell1 .btn-success {
	margin: 5px 0;
}
.tx_mask_tabcell3 {
	padding: 0 20px 0 20px;
}
UL.tx_mask_fieldtypes LI .id_keytext {
	font-size: 10px;
	display: block;
	color: #525252;
}
.tx_mask_tabcell2 LI.active,  .tx_mask_tabcell2 LI:hover {
	background-color: #DEDEDE;
}
.icon-size-default {
	height: 37px !important;
	width: 37px !important;
	line-height: 37px !important;
}

UL.tx_mask_fieldtypes .tx_mask_fieldcontent_highlight {
	height: 37px;
	/*	background-color: #ddd;*/
	border: 1px dashed #aaa;
	margin-bottom: 3px;
	list-style: none;
}
.tx_mask_tabcell1 LI {
	font-family: Share;
	font-size: 1.1em;
}
.tx_mask_tabcell1 LI .tx_mask_btn_actions {
	cursor: hand;
	cursor: pointer;
}
.row.bench {
	margin-top: 5px;
	border-top: 1px solid #ccc;
	padding-top: 19px;
}
.panel-space {
	margin: 1em 0;
}
.tx_mask_fieldcontent.tab-content {
	border-left: 1px solid #ccc;
	padding: 20px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.tx_mask_fieldcontent LABEL.check-item {
	float: left;
	margin: 11px 11px;
}
.tx_mask_fieldcontent .t3js-formengine-field-item.check-item {
	float: left;
}
.alert-info {
	margin-top: 10px;
}
.element-hidden {
	opacity: 0.4;
	-webkit-filter: saturate(0);
	filter: saturate(0);
}

/* fontIconPicker main CSS file {@link https://github.com/micc83/fontIconPicker} */
.icons-selector *{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif}.icons-selector,.icons-selector *,.icons-selector :after,.icons-selector :before,.icons-selector:after,.icons-selector:before{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.icons-selector{display:inline-block;vertical-align:middle;text-align:left}.icons-selector .selector{width:100px;height:32px}.icons-selector .selector-button{width:39px;height:100%;display:block;text-align:center;cursor:pointer;float:left}.icons-selector .selector-button i{line-height:32px;text-align:center}.icons-selector .selected-icon{display:block;width:60px;height:100%;float:left;text-align:center}.icons-selector .selected-icon i{line-height:32px;font-size:18px;cursor:default}.icons-selector .selector-popup{position:absolute;z-index:10000;background-color:#fefefe;padding:5px;height:auto;width:342px;margin-top:-1px}.icons-selector .selector-category select,.icons-selector .selector-search input[type=text]{border:0;line-height:20px;padding:10px 2.5%;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin-bottom:5px;font-size:12px;display:block}.icons-selector .selector-category select{height:40px}.icons-selector .selector-category select option{padding:10px}.icons-selector input::-webkit-input-placeholder{text-transform:uppercase}.icons-selector input:-moz-placeholder{text-transform:uppercase}.icons-selector input::-moz-placeholder{text-transform:uppercase}.icons-selector input:-ms-input-placeholder{text-transform:uppercase}.icons-selector .selector-search{position:relative}.icons-selector .selector-search i{position:absolute;right:10px;top:7px}.icons-selector .fip-icons-container{width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:5px}.icons-selector .fip-icons-container .loading{font-size:24px;margin:0 auto;padding:20px 0;text-align:center;width:100%}.icons-selector .fip-box{display:inline-block;margin:2px;width:60px;line-height:42px;text-align:center;cursor:pointer;vertical-align:top;height:40px}.icons-selector .selector-footer{line-height:12px;padding:5px 5px 0;text-align:center}.icons-selector .selector-footer,.icons-selector .selector-footer i{font-size:14px}.icons-selector .selector-arrows{float:right}.icons-selector .selector-pages{font-size:11px;float:left}.icons-selector .selector-arrows i{cursor:pointer}.icons-selector .selector-footer em{font-style:italic}.icons-selector .icons-picker-error i:before{color:#eee}.icons-selector [class*=" fip-icon-"]:before,.icons-selector [class^=fip-icon-]:before{font-family:iconpicker;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em}.icons-selector .icons-selector .fip-icon-cancel:before{content:'\e814';cursor:pointer}.icons-selector .fip-icon-block:before{content:'\e84e';color:#fed0d0}.icons-selector .fip-icon-down-dir:before{content:'\e800'}.icons-selector .fip-icon-up-dir:before{content:'\e813'}.icons-selector .fip-icon-left-dir:before{content:'\e801'}.icons-selector .fip-icon-right-dir:before{content:'\e802'}.icons-selector .fip-icon-spin3:before{content:'\e815'}.icons-selector .fip-icon-spin3{-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;display:inline-block}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-o-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@-ms-keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spin{0%{-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(359deg);-o-transform:rotate(359deg);-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
/* Grey Theme file for fontIconPicker {@link https://github.com/micc83/fontIconPicker} */
.fip-grey.icons-selector{font-size:16px}.fip-grey.icons-selector .selector{}.fip-grey.icons-selector .selector-button{background-color:#F4F4F4;border-left:1px solid #E1E1E1}.fip-grey.icons-selector .selector-button:hover{background-color:#f1f1f1}.fip-grey.icons-selector .selector-button:hover i{color:#999}.fip-grey.icons-selector .selector-button i{color:#aaa;text-shadow:0 1px 0 #FFF}.fip-grey.icons-selector .selected-icon i{color:#404040}.fip-grey.icons-selector .selector-popup{-moz-box-shadow:0 1px 1px rgba(0,0,0,.04);-webkit-box-shadow:0 1px 1px rgba(0,0,0,.04);box-shadow:0 1px 1px rgba(0,0,0,.04);border:1px solid #E5E5E5}.fip-grey.icons-selector .selector-category select,.fip-grey.icons-selector .selector-search input[type=text]{border:1px solid #EDEDED;color:#404040;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;outline:0}.fip-grey.icons-selector input::-webkit-input-placeholder{color:#ddd}.fip-grey.icons-selector input:-moz-placeholder{color:#ddd}.fip-grey.icons-selector input::-moz-placeholder{color:#ddd}.fip-grey.icons-selector input:-ms-input-placeholder{color:#ddd!important}.fip-grey.icons-selector .selector-search i{color:#eee}.fip-grey.icons-selector .fip-icons-container{background-color:#fff;border:1px solid #EDEDED}.fip-grey.icons-selector .fip-icons-container .loading{color:#eee}.fip-grey.icons-selector .fip-box{border:1px solid #EFEFEF}.fip-grey.icons-selector .fip-box:hover{background-color:#f6f6f6}.fip-grey.icons-selector .selector-footer,.fip-grey.icons-selector .selector-footer i{color:#ddd}.fip-grey.icons-selector .selector-arrows i:hover{color:#777}.fip-grey.icons-selector span.current-icon,.fip-grey.icons-selector span.current-icon:hover{background-color:#2EA2CC;color:#fff;border:1px solid #298CBA}.fip-grey.icons-selector .icons-picker-error i:before{color:#eee}
#meta_icon {
	display: none;
}
.icons-selector i, .selector-footer i {
	font-family: FontAwesome !important;
}
.icons-selector .selector {
	height: 32px;
	background-color: #fefefe;
	background-image: none;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fip-icon-right-dir:before {
	content: "\f061" !important;
	font-family: FontAwesome !important;
}
.fip-icon-left-dir:before {
	content: "\f060" !important;
	font-family: FontAwesome !important;
}
.fip-icon-block:before {
	content: "\f00d" !important;
	font-family: FontAwesome !important;
}
.fip-icon-down-dir:before {
	content: "\f078" !important;
	font-family: FontAwesome !important;
}
.fip-icon-up-dir:before {
	content: "\f077" !important;
	font-family: FontAwesome !important;
}