@charset "utf-8";

@media (min-width: 768px) {
	.tx_mask_borderright {
		border-right: 1px solid #a2aab8;
	}
}

/* Filedtype Buttons */
.tx_mask_btn, .tx_mask_fieldtypes {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tx_mask_btn {
	display: table;
	width: 100%;
	margin-bottom: 4px;
	background-color: #efefef;
	cursor: move;
	height: 37px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
}
.tx_mask_btn_row {
	display: table-row;
}
.tx_mask_btn_caption {
	display: table-caption;
	caption-side: bottom;
}
.id_Inline .tx_mask_btn_caption {
	padding-left: 5px;
	border-left: 2px solid #ddd;
	background-color: #ededed;
}
.tx_mask_btn_row>DIV {
	display: table-cell;
}
.tx_mask_btn_row IMG {
	vertical-align: bottom;
}
.tx_mask_btn_row .tx_mask_btn_img {
	width: 37px;
}
.tx_mask_btn_row .tx_mask_btn_img IMG, .tx_mask_fieldheader IMG {
	border-radius: 2px;
}
.tx_mask_btn_row .tx_mask_btn_text {
	vertical-align: middle;
	padding-left:	13px;
}
.tx_mask_btn_row .tx_mask_btn_actions {
	width: 69px;
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
}

.tx_mask_tabcell2 .tx_mask_btn {
	cursor: hand;
	cursor: pointer;
}
.tx_mask_btn .dragtarget {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
}
.tx_mask_tabcell1 .dragtarget {
	display: none;
}
.tx_mask_tabcell2>.dragtarget {
	display: block;
	padding-bottom: 50px;
}
.tx_mask_tabcell2 UL .dragtarget {
	min-height: 38px;
}

.tx_mask_tabcell2 UL .dragtarget li.tx_mask_btn {
	margin-top: 3px;
	margin-bottom: 0px;
}

.tx_mask_tabcell2 UL.tx_mask_fieldtypes LI .id_typetext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_labeltext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_keytext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_delete,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_move,
.tx_mask_tabcell2 UL.tx_mask_fieldtypes LI .id_add {
	display: none;
}

/* Field header */
.tx_mask_fieldheader {
	padding-bottom: 6px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 14px;
	height: 50px;
}
.tx_mask_fieldheader_icon {
	min-height: 32px;
	width: 32px;
	margin-right: 7px;
	float: left;
	margin-right: 16px;
}
.tx_mask_fieldheader_text {
	min-height: 32px;
}
.tx_mask_fieldheader_text H1 {
	font-size: 165%;
	font-family: Share,Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.tx_mask_fieldheader_text P {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* Texts */
UL.tx_mask_fieldtypes LI .id_typetext {
	font-size: 120%;
	line-height: 220%;
}
UL.tx_mask_fieldtypes LI .id_labeltext {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #525252;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
UL.tx_mask_fieldtypes LI .id_keytext {
	font-size: 10px;
	display: block;
	color: #525252;
}
.tx_mask_fieldcontent_existing {
	display: none;
}
.tx_mask_field {
	display: none;
}

.tx_mask_tabcell1 > DIV {
	margin-top: 12px;
}
.tx_mask_tabcell1 .btn-success {
	margin: 5px 0;
}
.tx_mask_tabcell3 {
	padding: 0 20px 0 20px;
}
UL.tx_mask_fieldtypes LI .id_keytext {
	font-size: 10px;
	display: block;
	color: #525252;
}
.tx_mask_tabcell2 LI.active,  .tx_mask_tabcell2 LI:hover {
	background-color: #DEDEDE;
}
.icon-size-default {
	height: 37px;
	width: 37px;
	line-height: 37px;
}

UL.tx_mask_fieldtypes .tx_mask_fieldcontent_highlight {
	height: 37px;
	/*	background-color: #ddd;*/
	border: 1px dashed #aaa;
	margin-bottom: 3px;
	list-style: none;
}
.tx_mask_tabcell1 LI {
	font-family: Share;
	font-size: 1.1em;
}
.tx_mask_tabcell1 LI .tx_mask_btn_actions {
	cursor: hand;
	cursor: pointer;
}
.row.bench {
	margin-top: 5px;
	border-top: 1px solid #ccc;
	padding-top: 19px;
}
.panel-space {
	margin: 1em 0;
}


/*
.id_Inline .dragtarget {
	min-height: 27px;
	margin: 34px 0 0 -42px;
margin: 0 0 0 -42px;
padding: 3px 0 3px 3px;
list-style-type: none;
}
.dragtarget .id_Inline .id_labeltext, .dragtarget .id_Inline .id_keytext {
	min-height: 16px;
}
*/
