@charset "utf-8";

@media (min-width: 768px) {
	.tx_mask_borderright {
		border-right: 1px solid #a2aab8;
	}
}

.tx_mask_fieldtypes LI, .tx_mask_fieldtypes {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tx_mask_fieldtypes LI {
	margin-bottom: 3px;
	width: 100%;
	background-color: #ededed;
	cursor: move;
}
.tx_mask_tabcell2 .tx_mask_fieldtypes LI {
	cursor: hand;
	cursor: pointer;
}
.tx_mask_fieldtypes LI>DIV {
	padding-right: 5px;
}
.tx_mask_tabcell2 UL.tx_mask_fieldtypes LI .id_typetext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_labeltext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_keytext,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_delete,
.tx_mask_tabcell1 UL.tx_mask_fieldtypes LI .id_move,
.tx_mask_tabcell2 UL.tx_mask_fieldtypes LI .id_add {
	display: none;
}

/* Field header */
.tx_mask_fieldheader {
	padding-bottom: 20px;
}
.tx_mask_fieldheader_icon {
	min-height: 32px;
	width: 32px;
	margin-right: 7px;
	float: left;
}
.tx_mask_fieldheader_text {
	min-height: 32px;
}
.tx_mask_fieldheader_text H1 {
	font-size: 140%;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.tx_mask_fieldheader_text P {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

/* Texts */
UL.tx_mask_fieldtypes LI .id_typetext {
	font-size: 120%;
	line-height: 220%;
}
UL.tx_mask_fieldtypes LI .id_labeltext {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #525252;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 155px;
	white-space: nowrap;
}
UL.tx_mask_fieldtypes LI .id_keytext {
	font-size: 10px;
	display: block;
	color: #525252;
}





.tx_mask_tabcell2 .dragtarget {
	background-color: #ccc;
	min-height: 47px;
}



/*
.id_Inline .dragtarget {
	min-height: 27px;
	/*margin: 34px 0 0 -42px;*/
	margin: 0 0 0 -42px;
	padding: 3px 0 3px 3px;
	list-style-type: none;
}
.dragtarget .id_Inline .id_labeltext, .dragtarget .id_Inline .id_keytext {
	min-height: 16px;
}
*/
