<p><f:translate key="tx_mask.content.html.line1" extensionName="mask"/></p>
<p><f:translate key="tx_mask.content.html.line2" extensionName="mask"/>: <code>EXT:mask_project/Resources/Private/Mask/Frontend/Templates</code>.</p>
<p>
    <f:translate key="tx_mask.content.html.line3a" extensionName="mask"/>
    <a href="https://docs.typo3.org/other/typo3/view-helper-reference/10.4/en-us/Index.html" target="_blank">
        <b><f:translate key="tx_mask.content.html.line3b" extensionName="mask"/></b>
    </a>
    <f:translate key="tx_mask.content.html.line3c" extensionName="mask"/>
</p>

<pre>{f:if(condition: html, then: html, else: '{f:translate(key: \'tx_mask.no_fields\', extensionName: \'mask\')}')}</pre>
