<f:be.container>
	<link media="all" href="../typo3conf/ext/mask/Resources/Public/Styles/styles62.css" type="text/css" rel="stylesheet" />
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
			</div>
			<div class="typo3-docheader-buttons">
				<div class="docheader-row2-left">
				</div>
				<div class="docheader-row2-right">
					<f:be.buttons.shortcut />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
	<script src="../typo3conf/ext/mask/Resources/Public/Scripts/libs.js?_cache={f:format.date(date: '', format: 'dmYHis')}"></script>
	<script src="../typo3conf/ext/mask/Resources/Public/Scripts/scripts.js?_cache={f:format.date(date: '', format: 'dmYHis')}"></script>
</f:be.container>
