{namespace mask=MASK\Mask\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default" />
<f:section name="content">
	<div class="typo3-dyntabmenu-tabs">
		<table cellspacing="0" cellpadding="0" border="0" class="typo3-dyntabmenu">
			<tr>
				<td nowrap="nowrap" class="tabact"><f:link.action action="list" controller="WizardContent" class="x-tab-right"><f:translate key="tx_mask.all.contentelements" /></f:link.action></td>
			<td nowrap="nowrap" class="tab"><f:link.action action="list" controller="WizardPage" class="x-tab-right"><f:translate key="tx_mask.all.pagetemplates" /></f:link.action></td>
			</tr>
		</table>
	</div>

	<div class="typo3-dyntabmenu-divs">
		<div class="c-tablayer" style="padding:10px;">
			<f:flashMessages />
			<f:for each="{messages}" as="message">
				<div class="typo3-message message-error"><strong><f:translate key="tx_mask.content.error" /></strong> {message}</div>
			</f:for>

			<f:if condition="{missingFolders}">
				<f:form action="createMissingFolders" controller="WizardContent">
					<f:form.submit value="{f:translate(key:'tx_mask.all.createmissingfolders')}" class="create_missing_folders" />
				</f:form>
			</f:if>

			<table cellspacing="0" cellpadding="0" border="0" class="typo3-dblist">
				<thead>
					<tr class="t3-row-header">
						<td nowrap="nowrap" class="col-icon"><f:link.action action="new"><span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-new">&nbsp;</span></f:link.action></td>
				<td nowrap="nowrap" class="col-title"><f:translate key="tx_mask.content.image" /></td>
				<td nowrap="nowrap" class="col-title"><f:translate key="tx_mask.content.titlekey" /></td>
				<td nowrap="nowrap" class="col-title"><f:translate key="tx_mask.content.description" /></td>
				<td nowrap="nowrap" class="col-title">&nbsp;</td>
				</tr>
				</thead>
				<tbody>
				<f:for each="{storages.tt_content.elements}" as="storage" key="key">
					<tr class="db_list_normal">
						<td></td>
						<td><f:link.action action="edit" arguments="{type:'tt_content',key:key}">
						<!-- mask:icon should be replaced by core:icon when compatibility for TYPO3 6.2 isn't needed anymore -->
						<mask:icon identifier="mask-ce-{key}" size="large" altSrc="/{extConf.preview}ce_{key}.png" altText="ce_{key}" />
					</f:link.action></td>
					<td nowrap="nowrap"><p><strong><f:link.action action="edit" arguments="{type:'tt_content',key:key}">{storage.label}</f:link.action></strong><br />{key}</p></td>
					<td>
						<p>{storage.description}</p>
					<mask:link data="{key}" />
					</td>
					<td nowrap="nowrap">
					<f:link.action action="edit" arguments="{type:'tt_content',key:key}"><span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span></f:link.action>
					<f:link.action action="showHtml" arguments="{key: key}" onclick="window.open(this.href, 'HTML', 'width=800,height=600,resizable=yes,scrollbars=yes');
							return false;"><span class="t3-icon t3-icon-mimetypes t3-icon-mimetypes-text t3-icon-text-html">&nbsp;</span></f:link.action>
					<f:link.action action="delete" arguments="{type:'tt_content',key:key}" onclick="return confirm('{f:translate(key:\"tx_mask.all.confirmdelete\")}')"><span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span></f:link.action>
					</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</div>
	</div>
</f:section>
